<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!-- permission -->
    <!--<bean id="permission" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">-->
        <!--<property name="serviceUrl" value="${client.remote.service.url}"/>-->
        <!--<property name="serviceInterface" value="com.zhuanche.car.facade.security.service.PermissionService"/>-->
    <!--</bean>-->

    <bean class="com.stony.sso.client.ClientInfoHold" id="clientInfoHold">
        <property name="appKey" value="${client.app.key}"/>
        <property name="remoteServiceUrl" value="${client.remote.service.url}" />
    </bean>

    <!--<bean id="requestFactory" class="org.springframework.http.client.HttpComponentsClientHttpRequestFactory">-->
        <!--<property name="readTimeout" value="${application.urlReadTimeout}" />-->
        <!--<property name="connectTimeout" value="${application.urlConnectionTimeout}" />-->
    <!--</bean>-->
    <!--<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">-->
        <!--<property name="requestFactory" ref="requestFactory"/>-->
    <!--</bean>-->

    <!-- Realm实现 -->
    <bean id="remoteRealm" class="com.stony.sso.client.realm.ClientRealm">
        <property name="cachingEnabled" value="false"/>
        <property name="permissionService" ref="permissionService"/>
        <property name="appKey" value="${client.app.key}"/>
        <property name="remoteServiceUrl" value="${client.remote.service.url}" />
    </bean>

    <!-- 会话Cookie模板 -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="${client.session.id}"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="-1"/>
        <property name="domain" value="${client.cookie.domain}"/>
        <property name="path" value="${client.cookie.path}"/>
    </bean>

    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="${client.rememberMe.id}"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="2592000"/><!-- 30天 -->
        <property name="domain" value="${client.cookie.domain}"/>
        <property name="path" value="${client.cookie.path}"/>
    </bean>

    <!-- rememberMe管理器 -->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <!-- rememberMe cookie加密的密钥 建议每个项目都不一样 默认AES算法 密钥长度（128 256 512 位）-->
        <property name="cipherKey"
                  value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}"/>
        <property name="cookie" ref="rememberMeCookie"/>
    </bean>

    <!--&lt;!&ndash; 会话管理器 &ndash;&gt;-->
    <!--<bean id="sessionManager" class="com.zhuanche.car.security.client.ClientWebSessionManager">-->
        <!--<property name="deleteInvalidSessions" value="false"/>-->
        <!--<property name="sessionValidationSchedulerEnabled" value="false"/>-->
        <!--<property name="sessionDAO" ref="sessionDAO"/>-->
        <!--<property name="sessionIdCookieEnabled" value="true"/>-->
        <!--<property name="sessionIdCookie" ref="sessionIdCookie"/>-->
    <!--</bean>-->

    <!-- jedis session cache -->
    <bean id="sessionCache" class="com.stony.sso.cache.session.support.JedisSessionCache">
        <constructor-arg index="0" ref="jedisSentinelTemplate"/>
    </bean>
    <!-- 会话ID生成器 -->
    <bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>
    <!-- 会话DAO -->
    <bean id="sessionDAO" class="com.stony.sso.commons.security.session.SecuritySessionDAO">
        <!--<property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>-->
        <property name="sessionIdGenerator" ref="sessionIdGenerator"/>
        <property name="sessionCache" ref="sessionCache"/>
        <property name="timeOut" value="86400"/> <!-- 会话超时 秒seconds -->
        <property name="appKey" value="${client.app.key}"/>
    </bean>
    <!-- 会话DAO -->
    <!--<bean id="sessionDAO" class="com.zhuanche.car.security.client.ClientSessionDAO2">-->
        <!--<property name="sessionIdGenerator" ref="sessionIdGenerator"/>-->
        <!--<property name="permissionService" ref="permissionService"/>-->
        <!--<property name="appKey" value="${client.app.key}"/>-->
    <!--</bean>-->
    <!--<bean id="sessionValidationScheduler"-->
          <!--class="org.apache.shiro.session.mgt.ExecutorServiceSessionValidationScheduler">-->
        <!--<property name="interval" value="3600000"/>-->
        <!--<property name="sessionManager" ref="sessionManager"/>-->
    <!--</bean>-->

    <!-- 会话管理器 org.apache.shiro.web.session.mgt.DefaultWebSessionManager -->
    <bean id="sessionManager" class="com.stony.sso.client.session.ClientWebSessionManager">
        <property name="globalSessionTimeout" value="1800000"/>  <!-- 设置全局会话超时时间，默认30分钟(1800000) -->
        <property name="sessionValidationInterval" value="1800000" /> <!-- 会话验证器调度时间 -->
        <property name="deleteInvalidSessions" value="true"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <!--<property name="sessionValidationScheduler" ref="sessionValidationScheduler"/>-->
        <property name="sessionDAO" ref="sessionDAO"/>
        <property name="sessionIdCookieEnabled" value="true"/>
        <property name="sessionIdCookie" ref="sessionIdCookie"/>
    </bean>

    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="remoteRealm"/>
        <property name="sessionManager" ref="sessionManager"/>
        <property name="rememberMeManager" ref="rememberMeManager"/>
    </bean>

    <!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>


    <bean id="clientAuthenticationFilter" class="com.stony.sso.client.filter.ClientAuthenticationFilter"/>

    <!-- Shiro的Web过滤器 -->
    <bean id="shiroFilter" class="com.stony.sso.client.factory.ClientShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="${client.login.url}"/>
        <property name="successUrl" value="${client.success.url}"/>
        <property name="unauthorizedUrl" value="${client.unauthorized.url}"/>
        <property name="filters">
            <util:map>
                <entry key="authc" value-ref="clientAuthenticationFilter"/>
            </util:map>
        </property>
        <property name="filtersStr" value="${client.filters}"/>
        <property name="filterChainDefinitionsStr" value="${client.filter.chain.definitions}"/>
    </bean>

    <!-- Shiro生命周期处理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

</beans>