<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:datasource.properties</value>
                <value>classpath:shiro.properties</value>
                <value>classpath:redis.properties</value>
                <value>classpath:config/shiro-server.properties</value>
            </list>
        </property>
    </bean>

    <context:annotation-config/>
    <context:component-scan base-package="com.stony.sso.server.manger;com.stony.sso.service.service">
            <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
    </context:component-scan>

    <aop:aspectj-autoproxy proxy-target-class="true" />
    <bean id="webContextListener" class="com.stony.sso.web.event.WebContextListener"/>

    <bean class="com.stony.sso.commons.SpringContextHolder"/>

    <import resource="classpath:spring/spring-redis-cluster.xml"/>
    <!--<import resource="spring-dubbo-customer.xml"/>-->
    <import resource="classpath:spring/spring-server-shiro.xml"/>



    <import resource="classpath:spring/spring-ctx-cache.xml" />
    <import resource="classpath:spring/spring-ctx-repository.xml" />
    <import resource="classpath:spring/spring-ctx-mybatis.xml" />


    <bean id="passwordHelper" class="com.stony.sso.service.helper.PasswordHelper"/>

</beans>